<div class="story-body" style ="color: white">
    <h2 class='storybody2'>Gender Equality in the Wizarding World</h2>
    <p class='storybody2'>  The total number of men (wizards) and women (witches) in each of the wizarding groups. <i>Characters from the first three movies are included in analysis. </i></p>
    <p></p>

</div>