<div class="story-body">
  <p> Harry Potter quickly became a cultural phenomenon after its original release. Crowds of people lined up at midnight to watch the movie premieres, dressed in "wizarding attire."</p>
  <p>Each movie expanded on the last, adding new characters, making the later installments more complex than the previous. The early books, however, introduced many of the people in Harry's close circle: his best friends, family, and mentors who would play a pivotal role in his later teenage years. </p>
  <!-- If you use images, the path is just images/___ -->
  <p style="text-align: center"><img src="images/cat.jpg"></p>
  <p>Phasellus lacus lectus, semper ut mollis vitae, fermentum ac massa. Duis pulvinar, lorem non interdum bibendum, sapien tellus volutpat massa, mollis sodales lectus ligula eget ex. Donec hendrerit imperdiet commodo. Fusce ut leo sed purus posuere tempor ut bibendum lectus. Aenean sem purus, euismod ut fringilla ultricies, convallis a nulla.</p>
</div>