<div class="story-body">
    <h2 class='storybody2'>Number of Lines Spoken by Characters</h2>
    <p class='storybody2'>  Despite the public attention on certain characters, it is surprising to note the some of the people most associated with Harry Potter rarely appeared in the early stages. Voldemort said only a few lines in the Sorcerer's Stone, the first movie, and made no appearance in the Prisoner of Azkaban, the third movie. Similarly, despite Harry's fraught relationship with his cousin Dudley, he rarely said anything at all throughout the early movies. </p>
    <p class='storybody2'>Hover over to see how many lines the characters spoke in the first (Socerer's Stone) and third (Prisoner of Azkaban) movies. <i>This is not an all encompassing list, and does not inlcude all characters</i></p>
    <div id="chart"></div>
</div>

<script src="scripts/chart-01.js"></script>

