<div class="story-body" style="color: white">
    <h2 class='storybody2'>Number of Lines Spoken by Characters</h2>
    <p class='storybody2'>Hover over to see how many lines the characters spoke in the first (Socerer's Stone) and third (Prisoner of Azkaban) movies. <i>This is not an all encompassing list, and does not inlcude all characters</i></p>
    <p></p>
    <div id="chart"></div>
</div>

<script src="scripts/chart-01.js"></script>

