<div class="story-body">
    <h2 class='storybody2'>Role of the "Golden Trio"</h2>
    <p class='storybody2'>  Harry, Ron, and Hermionie are the heart of the Harry Potter franchise. However, combined, they make up less than half of all the dialogue in the film.</p>
    <div id="gender"></div>
</div>

<script src="scripts/gender.js"></script>

