<div class="intro" style="color: #BFC8D8"> 
  <p> Despite the public attention on certain characters, it is surprising to note the some of the people most associated with Harry Potter rarely appeared in the early stages. Voldemort said only a few lines in the Sorcerer's Stone, the first movie, and made no appearance in the Prisoner of Azkaban, the third movie. Similarly, despite Harry's fraught relationship with his cousin Dudley, he rarely said anything at all throughout the early movies.</p>
  <p>It seems like the "supporting characters" may not have much of a role at all.</p>
  </div>