<div class="intro" style="color: #BFC8D8"> 
  <p> One movie, however, stood out from the rest. <i>Harry Potter and the Prisoner of Azkaban</i>, the third franchise in the installment made the least amount of money.  </p>
  <p>The third movie marks the beginning of Harry's turn from his early years at Howgarts, to a darker, more serious journey ahead. From the fourth installment onwards, someone dies in everybook. The early installments, however, played a special role in this magical world: they introduced many of the people in Harry's close circle- his best friends, family, and mentors. In particular, the first few movies focused on the growing friendship between Harry and his two best friends, Ron and Hermionie. The two would later accompany him on almost every journey he undertook</p>
  <div>

  
