<div class="story-body2" style="color: #BFC8D8"> 
  <p> Harry Potter quickly became a cultural phenomenon after its original release. Crowds of people lined up at midnight, dressed in "wizarding attire", to watch the movie premieres, dressed in "wizarding attire." As the franchise gained more fans, so did the popularity of certain characters.  </p> 
</p>Each movie expanded on the last, adding new roles, making the later installments more complex than the previous. The early books, however, played a special role in this magical world: they introduced many of the people in Harry's close circle- his best friends, family, mentors, and even enemies who would be a pivotal aspect of his later teenage years. So who really are these characters? And what role do they play in the <i>"Wizarding World of Harry Potter?"</i>
  </div>
  
