<div class="intro" style="color: #BFC8D8"> 
  <p> ...And so, the story of Harry Potter begins. Over 20 years ago, on a summer day, what was meant to be a simple fantasy series about an 11-year-old boy soon enraptured millions across the world, spawning parodies, musicals, plays, movies, and even a theme park. Within a few short years, a whole new universe was born.</p> 
  <p>From this <i>Wizarding World</i> one aspect, in particular, stood out. The movies quickly gained wide-spread success, reaching historic ticket sales and breaking box office records.</p>
  </div>

  
