<div class="story-p2" style="color: #BFC8D8"> 
  <p> Looking at the main characters and the amount they spoke, I was struck by something: most of the people speaking seemed to be men. With the exception of Hermionie, most of the main female characters did not seem to have as many lines. In fact, there did not seem to be that many women in the series at all.
   <p> From villanous organizations to underground resistance networks, several groups makeup the Wizarding World of Harry Potter. But how inclusive are these groups to men and women-- or should I say, how inclusive are they to <i>wizards</i> and <i>witches?</i></p>
  </div>
  
