<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="styles/style.css">
  {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>
<body>
  <!-- The headline area pulls most of its content from data/meta.json -->
  {{> base/headline }}

  <main id='content'>

    {{{body}}}

    {{> base/footer }}
  </main>

  <!-- We'll always keep this JS file around -->
  {{!-- <script src="scripts/vendor/ai2html-resizer.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
<script src ="https://codepen.io/mimikos/pen/GvpJYQ"></script>
<script src="https://codepen.io/IbeVanmeenen/full/vZzgvg/"></script>
<script srce="https://crossorigin.me/http://cferdinandi.github.io/smooth-scroll/dist/js/smooth-scroll.js"></script> --}}

</body>
</html>