---
headline: "Harry Potter: The Numbers Behind the Magic"
subhead: "Data analysis of Harry Potter characters from the first to third movie"
published_date: "December 11, 2019"
author:
    name: "HUMERA LODHI"
    url: "http://humeralodhi.com/"
    twitterHandle: "@humeralodhi"
analytics": ""
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->
<body class="hp-theme"></body>
{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

{{> story/p1 }}

<!-- 
  Charts are exactly the same.
-->

{{> story/chart }}
{{> story/p2 }}
{{> story/ai }}
{{> story/gender }}

<!-- 
  If you want to use something exported from ai2html...
    1. Rename the exported .html file to .hbs
    2. Put the .hbs file inside of 'html/story'
    3. Move the exported images to the images folder
    4. Include the partial normally like below
  -->



<!--
  You can also put the actual HTML here if you really want to,
  although it's a little less organized looking
-->

