---
headline: "“Mr. and Mrs. Dursley, of number four Privet Drive, were proud to say that they were perfectly normal, thank you very much...”"
subhead: "The Numbers Behind the Magic: Data Analysis of Harry Potter Movies"
---
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->
<body class="hp-theme">
  <div class="layer">
    {{> story/p1 }}
    {{> story/sales }}
    {{> story/nextpart }}
    {{> story/genderlines }}
    {{> story/inbetween }}
    {{> story/chart }}
    {{> story/p2 }}
    {{> story/ai }}
    {{> story/gender }}
  
   
</div>

</body>


{{!< default}}
